.hero {
  max-width: 1920px;
  width: 100%;
  height: 900px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: no-repeat url(../../assets/images/hero-img.png) 0 0 / 100% 100%;
}
.hero-div {
  width: 730px;
  height: 350px;
  margin: 0 auto;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  opacity: 92%;
}
.hero-div h1 {
  font-size: 32px;
  font-weight: 600;
}
.hero-div p {
  width: 535px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}
.hero-div button {
  margin-top: 30px;
  width: 310;
  height: 40px;
  border-radius: 3px;
  padding: 8px 20px;
  border: 0;
  color: white;
  background-color: #56b280;
}
