.section-2 {
  max-width: 1920px;
  width: 100%;
  height: 601px;
  margin: 0 auto;
  padding: 50px 0;
  background-color: #56b2801a;
}
.section-2-title p {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 27.6px;
  letter-spacing: 0.10000000149011612px;
  text-align: center;
}
